.app {
  text-align: center;
}

.app_container {
  display: flex;
  min-height: 100vh; /**TODO: ?**/
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #282c34;
}

.app_container input {
  /**TODO: Change font **/
  padding: 10px;
  color: white;
  background-color: #282c34;
  font-size: calc(10px + 2vmin); /**TODO: ?**/

  border-style: solid;
  border: none;
  border-bottom: 2px solid #3f434b;   
}