@import "index.scss";

.definitions_container{
    font-family: 'Crimson Text', serif;
    width: 300px;
    font-size: 12pt;
    max-height: 300px;
    overflow-y: auto;
    text-align: left;
    letter-spacing: -0.5pt;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 5px solid $resultsBorderColor;
    background-color: $resultsBackgroundColor;
    -webkit-box-shadow: 4px 3px 3px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 4px 3px 3px 0px rgba(0,0,0,0.10);
    box-shadow: 4px 3px 3px 0px rgba(0,0,0,0.10);
    h3{
        padding: 5px;
        color: black;
        border-bottom: 1px solid rgba(0, 0, 0, 0.226);
    }
    
    ul{
        padding: 0;
    }

    li{
        display: block;
        color: #001d1f;
        margin-top: 5px;
        letter-spacing: -0.5pt;

        .definition_type{
            font-style: italic;
            color: #001d1faf;
            margin-right: 5px;
        }

    }
}