// https://www.color-hex.com/color/1d2026
$textColor: #282c34;
$buttonColor: #0c0d11;
$primaryColor: #1d2026;
$backgroundColor: #070809;
$wordBackground: steelblue;
$resultsBackgroundColor: #e8e8e9;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
  margin: 0;
  color: $textColor;
  letter-spacing: 0.5pt;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input{
  letter-spacing: 1pt;
  font-family: 'Roboto', sans-serif;
}