@import './App.scss';

.box_container{
    display: flex;
    width: inherit;
    height: inherit;
    overflow-y: auto;
    padding: 30px;
    justify-items: center;
    align-content: center;
    flex-direction: column;
    background-color: $resultsBackgroundColor;
    border-top: 20px solid $resultsBackgroundColor;
}

.word_split{
    padding: 6px;
    color: white;
    display: inline;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: $wordBackground;
}

.associations_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 4em;
}

.association{
    padding: 5px;
    color: $primaryColor;
}

.loading{
    animation: loading_box 1.5s infinite;
}

@keyframes loading_box{
    0% {
        border-color: lightcyan;
    }

    50% {
        border-color: yellowgreen;
    }

    100% {
        border-color: lightcyan;
    }
}